{{- if gt .Paginator.TotalPages 1 -}}
    {{- $p := .Paginator -}}
    <ul class="pagination">
        {{- /* Previous */ -}}
        <li class="page-item{{ if not $p.HasPrev }} disabled{{ end }}">
            {{- if $p.HasPrev -}}
            <a class="page-link" href="{{ $p.Prev.URL }}" aria-label="Trang trước">
                <i class="fas fa-angle-left" aria-hidden="true"></i> Trang trước
            </a>
            {{- else -}}
            <span class="page-link" aria-disabled="true" aria-label="Trang trước">
                <i class="fas fa-angle-left" aria-hidden="true"></i> Trang trước
            </span>
            {{- end -}}
        </li>
        {{- .Scratch.Set "paginator.ellipsed" false -}}
        {{- range $p.Pagers -}}
            {{- $right := sub .TotalPages .PageNumber -}}
            {{- $showNumber := or (le .PageNumber 1) (eq $right 0) -}}
            {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $.Paginator.PageNumber 3)) (lt .PageNumber (add $.Paginator.PageNumber 3))) -}}
            {{- if $showNumber -}}
                {{- $.Scratch.Set "paginator.ellipsed" false -}}
                {{- $.Scratch.Set "paginator.shouldEllipse" false -}}
            {{- else -}}
                {{- $.Scratch.Set "paginator.shouldEllipse" (not ($.Scratch.Get "paginator.ellipsed") ) -}}
                {{- $.Scratch.Set "paginator.ellipsed" true -}}
            {{- end -}}
            {{- if $showNumber -}}
                <li class="page-item {{ if eq . $p }}active{{ end }}">
                    {{- if eq . $p -}}
                        <span class="page-link" aria-current="page">{{- .PageNumber -}}</span>
                    {{- else -}}
                        <a class="page-link" href="{{ .URL }}">{{- .PageNumber -}}</a>
                    {{- end -}}
                </li>
            {{- else if ($.Scratch.Get "paginator.shouldEllipse") -}}
                <li class="page-item ">
                    <span class="page-link" aria-hidden="true">&hellip;</span>
                </li>
            {{- end -}}
        {{- end -}}
        {{- /* Next */ -}}
        <li class="page-item{{ if not $p.HasNext }} disabled{{ end }}">
            {{- if $p.HasNext -}}
            <a class="page-link" href="{{ $p.Next.URL }}" aria-label="Trang kế tiếp">
                Trang kế tiếp <i class="fas fa-angle-right" aria-hidden="true"></i>
            </a>
            {{- else -}}
            <span class="page-link" aria-disabled="true" aria-label="Trang kế tiếp">
                Trang kế tiếp <i class="fas fa-angle-right" aria-hidden="true"></i>
            </span>
            {{- end -}}
        </li>
    </ul>
{{- end -}}
