$global-background-color: #fff;
$global-font-color: #1F2937;
$global-font-secondary-color: #64748B;
$global-link-color: #161209;
$global-link-hover-color: #FF2FA0;
$global-border-color: #E2E8F0;

$header-background-color: #fff;
$header-hover-color: #FF2FA0;

$single-link-color: #2563EB;
$single-link-hover-color: #FF2FA0;

$blockquote-color: #FF63BF;

$code-color: #E74C3C;
$code-background-color: #F9FAFB;

$table-background-color: #fff;
$table-thead-color: #F1F5F9;

$pagination-link-color: #2563EB;
$pagination-link-hover-color: #FF2FA0;

$selection-color: rgba(37, 99, 235, 0.25);
