{{- define "title" -}}
    {{- .Params.Title | default (T .Data.Plural) | default .Data.Plural | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page elton-home">
        <h1 class="elton-page-title">
            {{- .Params.Title | default (T .Data.Plural) | default .Data.Plural | dict "Some" | T "allSome" -}}
        </h1>

        <div class="elton-chip-grid">
            {{- range .Data.Terms.ByCount -}}
                <a class="elton-chip elton-chip-lg reveal" href="{{ .Page.RelPermalink }}">
                    {{- .Page.Title -}}
                    <span class="count">{{ len .Pages }}</span>
                </a>
            {{- end -}}
        </div>
    </div>
{{- end -}}
