{{- if ne .Site.Params.footer.enable false -}}
    <footer class="elton-footer">
        <div class="elton-footer-inner">
            <div>
                © {{ now.Format "2006" }} {{ .Site.Title }} Blog
            </div>
            <nav class="elton-footer-nav" aria-label="Footer">
                {{- range .Site.Menus.main -}}
                    {{- $url := .URL | relLangURL -}}
                    {{- with .Page -}}
                        {{- $url = .RelPermalink -}}
                    {{- end -}}
                    <a href="{{ $url }}">{{ .Name }}</a>
                {{- end -}}
            </nav>
        </div>
    </footer>
{{- end -}}
