{{- $img := .Resources.GetMatch "featured-image" -}}
<article class="post-card{{ if not $img }} post-card-textonly{{ end }}" itemscope itemtype="http://schema.org/Article">
    {{- with $img -}}
    <div class="post-card-thumb">
        <a href="{{ $.RelPermalink }}" aria-label="{{ $.Title }}">
            {{- dict "Src" .Name "Resources" $.Resources "Alt" $.Title | partial "plugin/img.html" -}}
        </a>
    </div>
    {{- end -}}

    <div class="post-card-body">
        <h2 class="post-card-title" itemprop="name headline">
            <a href="{{ .RelPermalink }}">{{ .Title | emojify }}</a>
        </h2>

        <div class="post-card-meta">
            <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                {{- .PublishDate.Format "2006-01-02" -}}
            </time>
            {{- with .Params.categories -}}
                <span class="post-card-categories">
                    {{- range $index, $value := . -}}
                        {{- if gt $index 0 }}, {{ end -}}
                        {{- $category := partialCached "function/path.html" $value $value | printf "/categories/%v" | $.Site.GetPage -}}
                        <a href="{{ $category.RelPermalink }}">{{ $category.Title }}</a>
                    {{- end -}}
                </span>
            {{- end -}}
        </div>

        <div class="post-card-summary">
            {{- with .Summary -}}
                {{- . | plainify | truncate 250 -}}
            {{- else -}}
                {{- .Description | plainify | truncate 250 -}}
            {{- end -}}
        </div>

        <a class="post-card-readmore" href="{{ .RelPermalink }}">
            {{- T "readMore" | default "READ MORE" -}} &rarr;
        </a>
    </div>
</article>
