{{- $allPosts := where .Site.RegularPages "Type" "posts" -}}
{{- $randomPosts := first 5 ($allPosts | shuffle) -}}
{{- if $randomPosts -}}
<div class="sidebar-random-posts">
    <h3 class="sidebar-title reveal">{{ T "randomPosts" | default "RANDOM POSTS" }}</h3>
    <ul class="random-posts-list">
        {{- range $index, $post := $randomPosts -}}
            {{- $img := $post.Resources.GetMatch "featured-image" -}}
            {{- $num := printf "%02d" (add $index 1) -}}
            <li class="random-post-item{{ if not $img }} random-post-item-textonly{{ end }} reveal">
                {{- with $img -}}
                <div class="random-post-thumb">
                    <span class="random-post-number">{{ $num }}</span>
                    <a href="{{ $post.RelPermalink }}" aria-label="{{ $post.Title }}">
                        {{- dict "Src" .Name "Resources" $post.Resources "Alt" $post.Title | partial "plugin/img.html" -}}
                    </a>
                </div>
                {{- else -}}
                <span class="random-post-number-textonly">{{ $num }}</span>
                {{- end -}}
                <div class="random-post-info">
                    <h4 class="random-post-title">
                        <a href="{{ $post.RelPermalink }}">{{ $post.Title | emojify }}</a>
                    </h4>
                    <time class="random-post-date" datetime="{{ $post.PublishDate.Format "2006-01-02" }}">
                        {{- $post.PublishDate.Format "2006-01-02" -}}
                    </time>
                </div>
            </li>
        {{- end -}}
    </ul>
</div>
{{- end -}}
