{{- define "content" -}}
    {{- $allPosts := (where .Site.RegularPages "Type" "posts").ByDate.Reverse -}}
    {{- if .Site.Params.page.hiddenFromHomePage -}}
        {{ $allPosts = where $allPosts "Params.hiddenfromhomepage" false -}}
    {{- else -}}
        {{- $allPosts = where $allPosts "Params.hiddenfromhomepage" "!=" true -}}
    {{- end -}}

    {{- $paginator := .Paginate $allPosts -}}

    <div class="page elton-home">
        <header class="elton-home-head">
            <h1 class="elton-home-h1">{{ .Site.Title }}</h1>
            <p class="elton-home-desc">{{ .Site.Params.description | plainify }}</p>
        </header>

        <div class="elton-post-grid">
            {{- range $paginator.Pages -}}
                {{- partial "post-card.html" . -}}
            {{- end -}}
        </div>

        {{- if gt $paginator.TotalPages 1 -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
