{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page elton-home">
        {{- if .Pages -}}
            <h1 class="elton-page-title">
                {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
            </h1>

            {{- $paginator := .Paginate .Pages.ByDate.Reverse -}}
            <div class="elton-post-grid">
                {{- range $paginator.Pages -}}
                    {{- partial "post-card.html" . -}}
                {{- end -}}
            </div>
            {{- partial "paginator.html" (dict "Pager" $paginator) -}}
        {{- end -}}
    </div>
{{- end -}}
