{{- define "title" -}}
    {{- .Title }} - {{ T .Data.Singular | default .Data.Singular }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page elton-home">
        {{- $taxonomy := .Data.Singular -}}
        <h1 class="elton-page-title">
            {{- if eq $taxonomy "category" -}}
                {{- partial "icon.html" (dict "Name" "folder" "Size" 20) -}}&nbsp;{{ .Title }}
            {{- else if eq $taxonomy "tag" -}}
                {{- partial "icon.html" (dict "Name" "tag" "Size" 20) -}}&nbsp;{{ .Title }}
            {{- else -}}
                {{- printf "%v - %v" (T $taxonomy | default $taxonomy) .Title -}}
            {{- end -}}
        </h1>

        {{- with .Params.description -}}
            <p class="elton-section-band">{{ . }}</p>
        {{- end -}}

        {{- if .Pages -}}
            {{- $paginator := .Paginate .Pages.ByDate.Reverse -}}
            <div class="elton-post-grid">
                {{- range $paginator.Pages -}}
                    {{- partial "post-card.html" . -}}
                {{- end -}}
            </div>
            {{- partial "paginator.html" (dict "Pager" $paginator) -}}
        {{- end -}}
    </div>
{{- end -}}
