{{- define "title" -}}
    {{- .Title }} - {{ T .Data.Singular | default .Data.Singular }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page elton-home">
        {{- $taxonomy := .Data.Singular -}}
        <h1 class="elton-page-title">
            {{- if eq $taxonomy "category" -}}
                <i class="far fa-folder-open" aria-hidden="true"></i>&nbsp;{{ .Title }}
            {{- else if eq $taxonomy "tag" -}}
                <i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{{ .Title }}
            {{- else -}}
                {{- printf "%v - %v" (T $taxonomy | default $taxonomy) .Title -}}
            {{- end -}}
        </h1>

        {{- if .Pages -}}
            {{- $paginator := .Paginate .Pages.ByDate.Reverse -}}
            <div class="elton-post-grid">
                {{- range $paginator.Pages -}}
                    {{- partial "post-card.html" . -}}
                {{- end -}}
            </div>
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
